* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 252, 208);
}
img {
  width: 100%;
}
header nav {
  display: flex;
  background-color: blanchedalmond;
  justify-content: center;
  gap: 1rem;
}
#content {
  background-color: blanchedalmond;
  margin: 2rem auto;
  width: 70rem;
  border-radius: 1rem;
  padding: 2rem;
}
.author {
  font-weight: bold;
  margin-left: 20px;
  margin-top: 5px;
}
#content img {
  width: 100px;
  display: block;
  margin: 0 auto;
}
